<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .email-wrapper {
      max-width: 600px;
      margin: 0 auto;
      padding: 40px;
      background-color: #F8F8F8;
    }

    .preheader {
      display: none;
      font-size: 1px;
      max-height: 0;
      max-width: 0;
      opacity: 0;
      overflow: hidden;
    }

    h1 {
      font-size: 28px;
      color: #333;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      padding: 5px;
    }

    .content-table {
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
    }

    .content-table td {
      padding: 5px 0;
      border: 1px solid black;
    }

    .app-icons {
      text-align: center;
    }

    .divider {
      width: 100%;
      border-top: 1px solid #cccccc;
    }

    .footer {
      font-size: 14px;
      text-align: center;
      color: #666;
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <div class="email-wrapper">
    <div class="preheader">
      You just bought {{programName}}
    </div>

    <h1>You just bought {{programName}} by {{trainerName}}!</h1>

    <table class="content-table">
      <tr>
        <td colspan="2">
          <p>To get started, simply download the Fitster app from the App Store or Google Play Store by clicking on the icons below:</p>
        </td>
      </tr>
        <tr>
        <td class="app-icons">
          <a href="https://apps.apple.com/app/fitster-made-for-fit/id1673007409">
            <img src="cid:apple-store" alt="Download Fitster on the App Store" width="300" height="214" />
          </a>
        </td>
        <td class="app-icons">
          <a href="https://play.google.com/store/apps/details?id=com.fitsterapp.pro&hl=en">
            <img src="cid:google-store" alt="Download Fitster on Google Play" width="260" height="260" />
          </a>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Once you've installed the app, make sure to sign in with the email address you used to purchase the program.</p>
        </td>
      </tr>
    </table>
    <div class="footer">
      <p>Powered by <b><a href="https://www.fitster.io" target="_blank" rel="noopener noreferrer">Fitster</a></b></p>
    </div>
  </div>
</body>
</html>
